In [20]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# create dataframe for the datasets
filepath = 'data/nuclear_energy_overview_eia.csv'
df = pd.read_csv(filepath)
df.head()

,Year,Month,"Nuclear Generating Units, Total Operable Units","Nuclear Generating Units, Net Summer Capacity",Nuclear Electricity Net Generation,Nuclear Share of Electricity Net Generation,"Nuclear Generating Units, Capacity Factor"
0,1973,January,Not Available,14.533,6246,3.9,57.8
1,1973,February,Not Available,14.533,5928,4.1,60.7
2,1973,March,Not Available,15.314,6649,4.5,58.4
3,1973,April,Not Available,15.314,5876,4.2,53.4
4,1973,May,Not Available,16.174,5697,3.9,47.3

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 7 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Year                                            614 non-null    int64
 1   Month                                           614 non-null    object
 2   Nuclear Generating Units, Total Operable Units  614 non-null    object
 3   Nuclear Generating Units, Net Summer Capacity   614 non-null    float64
 4   Nuclear Electricity Net Generation              614 non-null    int64
 5   Nuclear Share of Electricity Net Generation     614 non-null    float64
 6   Nuclear Generating Units, Capacity Factor       614 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 33.7+ KB

In [ ]:
# Replace all instances of "Not Available" with "nan" in column: 'Nuclear Generating Units, Total Operable Units'
df['Nuclear Generating Units, Total Operable Units'] = df['Nuclear Generating Units, Total Operable Units'].replace("Not Available", np.nan) # without inplace true

df.head()

,Year,Month,"Nuclear Generating Units, Total Operable Units","Nuclear Generating Units, Net Summer Capacity",Nuclear Electricity Net Generation,Nuclear Share of Electricity Net Generation,"Nuclear Generating Units, Capacity Factor"
0,1973,January,NaN,14.533,6246,3.9,57.8
1,1973,February,NaN,14.533,5928,4.1,60.7
2,1973,March,NaN,15.314,6649,4.5,58.4
3,1973,April,NaN,15.314,5876,4.2,53.4
4,1973,May,NaN,16.174,5697,3.9,47.3

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 7 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Year                                            614 non-null    int64
 1   Month                                           614 non-null    object
 2   Nuclear Generating Units, Total Operable Units  372 non-null    object
 3   Nuclear Generating Units, Net Summer Capacity   614 non-null    float64
 4   Nuclear Electricity Net Generation              614 non-null    int64
 5   Nuclear Share of Electricity Net Generation     614 non-null    float64
 6   Nuclear Generating Units, Capacity Factor       614 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 33.7+ KB

In [27]:
missing_in_col = df['Nuclear Generating Units, Total Operable Units'].isna().sum()
print(f'There are {missing_in_col} missing values in that column')

There are 242 missing values in that column